---
import Layout, { type PageInfo } from "@/layouts/Layout.astro";
import SummaryExtra from "@/components/misc/SummaryExtra.astro";
const meta: PageInfo = {
	title: "Summary",
    description:  "A summarization of all recorded sessions"
}
import * as GameSummary from '@/models/GameSummary.ts'
import CountUp from "@/components/CountUp.astro";
import { Picture } from "astro:assets";
import { getMapPoster } from "@/utils/index.ts";

const [totals, averages, [worstMap, bestMap]] = await Promise.all([
    GameSummary.getSummaryTotals(),  
    GameSummary.getSummaryAverages(),
    GameSummary.getBestWorstOfficialMap()
])

if(import.meta.env.PROD) Astro.response.headers.set('Cache-Control', 'public, max-age=3600');
---

<Layout meta={meta}>
	<div class="container content">
        <p class="title is-6">Totals</p>
        <nav class="level">
            <div class="level-item has-text-centered">
                <div>
                <p class="heading">Games Played</p>
                <p class="title"><CountUp number={(totals.total_games)} /></p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                <p class="heading">Total Playtime</p>
                <p class="title"><CountUp number={(totals.game_duration / 60 / 60)} /> hours</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                <p class="heading">Total FF Damage</p>
                <p class="title"><CountUp number={totals.survivor_ff} /> HP</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                <p class="heading">Zombies Killed</p>
                <p class="title"><CountUp number={totals.kills_common} /></p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                <p class="heading">Unique Players</p>
                <p class="title"><CountUp number={totals.total_users} /></p>
                </div>
            </div>
        </nav>
        <SummaryExtra values={totals} />
        <hr>

        <p class="title is-6">Averages</p>
        <nav class="level">
            <div class="level-item has-text-centered">
                <div>
                <p class="heading">Average Game Duration</p>
                <p class="title"><CountUp number={(averages.game_duration / 60)} /> min</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                <p class="heading">Average Zombies Killed</p>
                <p class="title"><CountUp number={averages.kills_common} /></p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                <p class="heading">Players per Game</p>
                <p class="title"><CountUp number={averages.avg_players} precision={1} /></p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                <p class="heading">Average FF Damage</p>
                <p class="title"><CountUp number={averages.damage_dealt_friendly} /> HP</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                <p class="heading">Average Ping</p>
                <p class="title"><CountUp number={averages.ping} /> ms</p>
                </div>
            </div>
        </nav>
        <SummaryExtra values={averages} />
        <hr>
        <div class="columns has-text-centered">
            <div class="column">
                <p class="title is-6">Most Played Official Map</p>
                <figure class="image is-4by3">
                    <Picture alt={`Poster for ${bestMap.name}`} src={getMapPoster(bestMap.map_id) as any} />
                </figure>
                <p class="is-family-sans-serif is-size-4">{bestMap.name}</p>
            </div>
            <div class="column">
                <p class="title is-6">Least Played Official Map</p>
                <figure class="image is-4by3">
                    <Picture alt={`Poster for ${worstMap.name}`} src={getMapPoster(worstMap.map_id) as any} />
                </figure>
                <p class="is-family-sans-serif is-size-4">{worstMap.name}</p>
            </div>
        </div>
	</div>
</Layout>