---
import Hero from "@/components/bulma/Hero.astro";
import HTMLHead from "@/components/layout/HTMLHead.astro";
import NavBar from "@/components/layout/NavBar.astro";
import type { ColorType } from "@/types/bulma.ts";

export interface Props {
    meta: PageInfo
}

export interface PageInfo { 
    /** The title of the page such as "Summary" */
    title?: string,
    /** Description of the page, shown in og:description and default for heros */
    description?: string,

    /** Determines the hero, enabled by default. set to null to turn off, undefined for default (on) */
    hero?: {
        /** Title to use for hero, defaults to page title */
        title?: string,
        /** Subtitle to use for hero, defaults to page description */
        subtitle?: string
        /** Overwrites the hero's type */
        type?: ColorType
        /** Adds to the hero's class */
        class?: string,

        [key: string]: any
    } | undefined | null,

    /** Marks page to not be indexed */
    noIndex?: boolean
    noFollow?: boolean,

    openGraph?: {
        title: string,
        type: string,
        image: string
    }
}
const siteTitle = import.meta.env.PUBLIC_SITE_TITLE || "L4D2 Stats"
const siteDescription = import.meta.env.PUBLIC_SITE_DESC

const { meta } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
    <HTMLHead pageTitle={meta.title} description={meta.description ?? siteDescription} siteTitle={siteTitle} noIndex={meta.noIndex} noFollow={meta.noFollow} openGraph={meta.openGraph} />
    <body>
        <NavBar siteTitle={siteTitle} />
        <slot name="hero">
            <Hero type={meta.hero?.type || "is-dark"} centered class={meta.hero?.class}
                title={meta.hero?.title ?? meta.title} 
                subtitle={meta.hero?.subtitle ?? meta.description} 
                {...meta.hero}
            />
        </slot>
        <slot />
        <br>
    </body>
</html>