---
import Layout, { type PageInfo } from '@/layouts/Layout.astro'
const params = Astro.params
if(!params.steamid) return new Response(null, { status: 404 })

import SteamID from 'steamid'
import { getUser, getUserAverages, getUserTopStats } from '@/models/User.ts'
import Button from '@/components/bulma/Button.astro'
import BulmaIcon from '@/components/bulma/BulmaIcon.astro'
import { formatRelUnixDate, formatUnixDate, formatDurationFromMinutes, formatHumanDuration } from '@/utils/date.ts'
import { Image } from 'astro:assets'
import Level from '@/components/bulma/Level.astro'
import LevelItem from '@/components/bulma/LevelItem.astro'
import CountUp from '@/components/CountUp.astro'
import { Survivor } from '@/types/game.ts'
import { getMapPoster, getPortrait, getWeaponImage, UNITS_TO_METERS } from '@/utils/index.ts'
import { BANNER_SIZE } from '@/pages/api/users/[id]/banner.png.ts' 
import UserHero from '@/components/misc/UserHero.astro'

const user = await getUser(params.steamid)
if(!user) return Astro.rewrite(`/404?obj=user&id=${Astro.params.steamid}`)
const [topStats, averages] = await Promise.all([
    getUserTopStats(params.steamid), 
    getUserAverages(params.steamid)
])
if(topStats == null) throw new Error("unreachable: top stats null") 
const totalMaps = topStats.played_any.count
const mapPercents = [ Number(topStats.played_official.count) / totalMaps * 100, Number(topStats.played_custom.count) / totalMaps * 100 ]

const meta: PageInfo = {
    title: `${user.last_alias}'s Profile`,
    description: `View ${user.last_alias}'s game statistics`,
    openGraph: {
        basic: {
            title: `${user.last_alias}'s Profile`,
            type: "website",
            image: `${Astro.url.origin}${import.meta.env.BASE_URL}api/users/${user.steamid}/banner.png`,
        },
        optional: {
            description: `View ${user.last_alias}'s game statistics`
        },
        image: {
            url: `${Astro.url.origin}${import.meta.env.BASE_URL}api/users/${user.steamid}/banner.png`,
            width: BANNER_SIZE[0],
            height: BANNER_SIZE[1],
            type: "image/png",
        },
    },
    twitter: {
        card: "summary_large_image"
    }
}
const steamid = new SteamID(user.steamid)
const steamid64 = steamid.getSteamID64()

const BANNER_SCALE = 0.5
const AVERAGE_PRECISION = 3
// TODO: split sections into components

---
<Layout meta={meta}>
    <UserHero slot="hero" user={user} subtitle={`${user.points.toLocaleString()} points`} activePage="overview" />

    <div class="container">
        <div class="columns">
            <div class="column">
                
                <h4 class="title is-4">Stats Overview</h4>
                <Image width={BANNER_SIZE[0] * BANNER_SCALE} height={BANNER_SIZE[1] * BANNER_SCALE} 
                    class="has-background-dark has-text-white" style="border-radius: 8px; font-size: 24px" 
                    src={`/api/users/${user.steamid}/banner.png`} alt={`Profile banner for ${user.last_alias} with a list of some of their statistics`} 
                    priority
                />

                <div class="block mt-6">
                    <h5 class="title is-5" id="player-stats"><a href="#player-stats"><BulmaIcon name="iconoir:link"></BulmaIcon></a> Player Information</h5>
                    <table class="table is-bordered is-fullwidth">
                        <tbody>
                            <tr>
                                <th style="vertical-align: middle">SteamID</th>
                                <td style="vertical-align: middle">
                                    {user.steamid}

                                    <span class="is-pulled-right buttons">
                                        <Button type="is-link" size="is-small" href={`https://steamdb.info/calculator/${steamid64}`}>
                                            <BulmaIcon style="line-height: inherit" name="iconoir:arrow-up-right-square" textLeft="SteamDB" />
                                        </Button>
                                        <Button type="is-link" size="is-small"  href={`https://steamcommunity.com/profiles/${steamid64}`}>
                                            <BulmaIcon style="line-height: inherit" name="iconoir:arrow-up-right-square" textLeft="Steam Profile" />
                                        </Button>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th>First Played</th>
                                <td>
                                    {formatUnixDate(user.created_date)}
                                    <span class="is-pulled-right"><em>({formatRelUnixDate(user.created_date)})</em></span>
                                </td>
                            </tr>
                            <tr>
                                <th>Last Played</th>
                                <td>
                                    {formatUnixDate(user.last_join_date)}
                                    <span class="is-pulled-right"><em>({formatRelUnixDate(user.last_join_date)})</em></span>
                                </td>
                            </tr>
                            <tr>
                                <th>Total Playtime</th>
                                <td>
                                    {formatHumanDuration(user.seconds_total)} 
                                </td>
                            </tr>
                            <tr>
                                <th>Last Location</th>
                                <td>
                                    <!-- TODO: should show region? (if not, clear from server too) -->
                                    {user.region ? `${user.region}, ${user.country}` : user.country}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h5 class="title is-5" id="kills"><a href="#kills"><BulmaIcon name="iconoir:link"></BulmaIcon></a> Kills</h5>
                    <div class="box has-background-primary-light">
                        <Level>
                            <LevelItem countup title="Smoker" value={user.kills_smoker} />
                            <LevelItem countup title="Boomer" value={user.kills_boomer} />
                            <LevelItem countup title="Hunter" value={user.kills_hunter} />
                            <LevelItem countup title="Spitter" value={user.kills_spitter} />
                            <LevelItem countup title="Jockey" value={user.kills_jockey} />
                            <LevelItem countup title="Charger" value={user.kills_charger} />
                        </Level>
                    </div>
                    <div class="box has-background-primary-light">
                        <Level>
                            <LevelItem countup title="Commons" value={user.kills_common} />
                            <LevelItem countup title="With Minigun" value={user.kills_minigun} />
                            <LevelItem countup title="With Melee" value={user.kills_melee} />
                            <LevelItem countup title="Tank" value={user.kills_tank} />
                            <LevelItem countup title="Tank (Solo)" value={user.kills_tank_solo} />
                            <LevelItem countup title="Witch" value={user.witches_crowned} />
                            <LevelItem countup title="Teammates :(" value={user.kills_friendly} />
                        </Level>
                    </div>

                    <h5 class="title is-5" id="survivor-stats"><a href="#survivor-stats">
                        <BulmaIcon name="iconoir:link"></BulmaIcon></a> Damages & Usages</h5>
                    <div class="block">
                        <div class="columns">
                            <div class="column">
                                <h6 class="title is-6 has-text-centered">Damages</h6>
                                <table class="table is-bordered is-fullwidth">
                                    <thead>
                                        <tr class="has-background-white-ter">
                                            <th>Type</th>
                                            <th align="center">Damage (HP)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Total Dealt</td>
                                            <td class="tvalue"><CountUp number={user.damage_dealt} /></td>
                                        </tr>
                                        <tr>
                                            <td>Total Taken</td>
                                            <td class="tvalue"><CountUp number={user.damage_taken} /></td>
                                        </tr>
                                        <tr>
                                            <td>To Tank</td>
                                            <td class="tvalue"><CountUp number={user.damage_dealt_tank} /></td>
                                        </tr>
                                        <tr>
                                            <td>To Witch</td>
                                            <td class="tvalue"><CountUp number={user.damage_dealt_witch} /></td>
                                        </tr>
                                        <tr>
                                            <td>To Teammates</td>
                                            <td class="tvalue"><CountUp number={user.damage_dealt_friendly} /></td>
                                        </tr>
                                        <tr>
                                            <td>From Falls</td>
                                            <td class="tvalue"><CountUp number={user.damage_taken_fall} /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="column">
                                <h6 class="title is-6 has-text-centered">Item Usages</h6>
                                <table class="table is-bordered is-fullwidth">
                                    <thead>
                                    <tr class="has-background-white-ter">
                                        <th>Item</th>
                                        <th align="center">Uses</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Pills</td>
                                        <td class="tvalue"><CountUp number={user.used_pills} /></td>
                                    </tr>
                                    <tr>
                                        <td>Adrenaline</td>
                                        <td class="tvalue"><CountUp number={user.used_adrenaline} /></td>
                                    </tr>
                                    <tr>
                                        <td>Defibs</td>
                                        <td class="tvalue"><CountUp number={user.used_defib} /></td>
                                    </tr>
                                    <tr>
                                        <td>Fire Ammo Packs</td>
                                        <td class="tvalue"><CountUp number={user.used_ammopack_fire} /></td>
                                    </tr>
                                    <tr>
                                        <td>Explosive Ammo Packs</td>
                                        <td class="tvalue"><CountUp number={user.used_ammopack_explosive} /></td>
                                    </tr>
                                    <tr>
                                        <td>Kits <em>(Self)</em></td>
                                        <td class="tvalue"><CountUp number={user.used_kit_self} /></td>
                                    </tr>
                                    <tr>
                                        <td>Kits <em>(Others)</em></td>
                                        <td class="tvalue"><CountUp number={user.used_kit_other} /></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <table class="table is-bordered is-fullwidth">
                            <thead>
                                <tr class="has-background-white-ter">
                                    <th>Throwable</th>
                                    <th align="center">Damage (HP)</th>
                                    <th align="center">Kills</th>
                                    <th align="center"># Thrown</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Molotov & Gascan</td>
                                    <td align="center" class="tvalue"><CountUp number={user.damage_dealt_fire} /></td>
                                    <td align="center" class="tvalue"><CountUp number={user.kills_fire} /></td>
                                    <td align="center" class="tvalue"><CountUp number={user.used_molotov } /></td>
                                </tr>
                                <tr>
                                    <td>Puke</td>
                                    <td align="center" >-</td>
                                    <td align="center" >-</td>
                                    <td align="center" class="tvalue"><CountUp number={user.used_bile} /></td>
                                </tr>
                                <tr>
                                    <td>Pipebomb</td>
                                    <td align="center" >-</td>
                                    <td align="center" class="tvalue"><CountUp number={user.kills_pipebomb} /></td>
                                    <td align="center" class="tvalue"><CountUp number={user.used_pipebomb} /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h5 class="title is-5" id="skills"><a href="#skills"><BulmaIcon name="iconoir:link"></BulmaIcon></a> Skills</h5>
                    <div class="box has-background-info-light">
                        <Level>
                            <LevelItem countup title="Witches Crowned" value={user.witches_crowned} />
                            <LevelItem countup title="Smokers Self-cleared" value={user.smokers_selfcleared} />
                            <LevelItem countup title="Hunters Deadstopped" value={user.hunters_deadstopped} />
                            <LevelItem countup title="Helped Pinned teammate" value={user.times_cleared_pinned} />
                            <LevelItem countup title="Rocks Hit By" value={user.rocks_hitby} />
                            <LevelItem countup title="Rocks Dodged" value={user.rocks_dodged} />
                        </Level>
                    </div>

                    <h5 class="title is-5" id="averages"><a href="#averages"><BulmaIcon name="iconoir:link"></BulmaIcon></a> Averages</h5>
                    <table class="table is-bordered is-fullwidth">
                        <thead>
                            <tr class="has-background-white-ter">
                                <th>Statistic</th>
                                <th align="center">Total</th>
                                <th align="center">Per Session</th>
                                <th align="center">Per Hour Played</th>
                                <!-- <th align="center">Per {{averages.globalTotalSessions}} sessions</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Deaths</td>
                                <td align="center" class="tvalue">
                                    <CountUp number={user.deaths} /></td>
                                <td align="center" class="tvalue">
                                    <CountUp number={averages.per_game.deaths} precision={AVERAGE_PRECISION} /></td>
                                <td align="center" class="tvalue">
                                    <CountUp number={averages.per_hour.deaths} precision={AVERAGE_PRECISION} /></td>
                            </tr>
                            <tr>
                                <td>Friendly Fire</td>
                                <td align="center" class="tvalue">
                                    <CountUp number={user.damage_dealt_friendly_count} /></td>
                                <td align="center" class="tvalue">
                                    <CountUp number={averages.per_game.damage_dealt_friendly_count} precision={AVERAGE_PRECISION} /></td>
                                <td align="center" class="tvalue">
                                    <CountUp number={averages.per_hour.damage_dealt_friendly_count} precision={AVERAGE_PRECISION} /></td>
                            </tr>
                            <tr>
                                <td>Healing Others</td>
                                <td align="center" class="tvalue">
                                    <CountUp number={user.used_kit_other} /></td>
                                <td align="center" class="tvalue">
                                    <CountUp number={averages.per_game.used_kit_other} precision={AVERAGE_PRECISION} /></td>
                                <td align="center" class="tvalue">
                                    <CountUp number={averages.per_hour.used_kit_other} precision={AVERAGE_PRECISION} /></td>
                            </tr>
                            <tr>
                                <td>Revived Others</td>
                                <td align="center" class="tvalue">
                                    <CountUp number={user.times_revived_other} /></td>
                                <td align="center" class="tvalue">
                                    <CountUp number={averages.per_game.times_revived_other} precision={AVERAGE_PRECISION} /></td>
                                <td align="center" class="tvalue">
                                    <CountUp number={averages.per_hour.times_revived_other} precision={AVERAGE_PRECISION} /></td>
                            </tr>
                            <tr>
                                <td>Incaps</td>
                                <td align="center" class="tvalue">
                                    <CountUp number={user.times_incapped} /></td>
                                <td align="center" class="tvalue">
                                    <CountUp number={averages.per_game.times_incapped} precision={AVERAGE_PRECISION} /></td>
                                <td align="center" class="tvalue">
                                    <CountUp number={averages.per_hour.times_incapped} precision={AVERAGE_PRECISION} /></td>
                            </tr>
                            <tr>
                                <td>Time Spent Idle</td>
                                <td align="center">{formatHumanDuration(user.seconds_idle, undefined, ["hour","minute"])}</td>
                                <td align="center">{(averages.per_game.seconds_idle ?? 0)?.toFixed(AVERAGE_PRECISION)}s</td>
                                <td align="center">{(averages.per_hour.seconds_idle ?? 0)?.toFixed(AVERAGE_PRECISION)}s</td>
                            </tr>
                        </tbody>
                    </table>

                    <h5 class="title is-5" id="casualities"><a href="#casualities">
                        <BulmaIcon name="iconoir:link"></BulmaIcon></a> Casualities</h5>
                    <div class="box has-background-danger-light">
                        <Level>
                            <LevelItem countup title="Deaths" value={user.deaths} />
                            <LevelItem countup title="Incaps" value={user.times_incapped} />
                            <LevelItem countup title="Ledges Grabbed" value={user.times_hanging} />
                            <LevelItem countup title="Fall Damage Taken" value={user.damage_taken_fall} />

                        </Level>
                    </div>
                     <div class="box has-background-danger-light">
                        <Level>
                            <LevelItem countup title="Incaps from Fire" value={user.times_incapped_fire} />
                            <LevelItem countup title="Incaps from Acid" value={user.times_incapped_acid} />
                            <LevelItem countup title="Incaps from Zombies" value={user.times_incapped_zombie} />
                            <LevelItem countup title="Incaps from Specials" value={user.times_incapped_special} />
                            <LevelItem countup title="Incaps from Tank" value={user.times_incapped_tank} />
                            <LevelItem countup title="Incaps from Witches" value={user.times_incapped_witch} />

                        </Level>
                    </div>

                    <h5 class="title is-5" id="misc"><a href="#misc"><BulmaIcon name="iconoir:link"></BulmaIcon></a> Miscellaneous</h5>

                    <div class="box has-background-link-light">
                        <Level>
                            <LevelItem tooltip="" countup title="Kits Forgotten" value={user.forgot_kit_count} />
                            <LevelItem tooltip="Killed boomer getting someone boomed" countup title="Boomers Popped Others" value={user.times_boomed_teammates} />
                            <LevelItem countup title="Times Boomed" value={user.times_boomed} />
                            <LevelItem tooltip="Killed boomer getting self boomed" countup title="Boomers Popped Self" value={user.times_boomed_self} />
                            <LevelItem countup title="Kits Slapped" value={user.kits_slapped} />
                        </Level>
                    </div>

                    <div class="column">
                        <table class="table is-bordered is-fullwidth">
                            <thead>
                                <tr class="has-background-white-ter">
                                    <th>Stat</th>
                                    <th align="center">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Doors Opened</td>
                                    <td class="tvalue"><CountUp number={user.door_opens} /></td>
                                </tr>
                                <tr>
                                    <td>Finales Won</td>
                                    <td class="tvalue"><CountUp number={user.finales_won} /></td>
                                </tr>
                                <tr>
                                    <td>Revived Others</td>
                                    <td class="tvalue"><CountUp number={user.times_revived_other} /></td>
                                </tr>
                                <tr>
                                    <td>Jumps</td>
                                    <td class="tvalue"><CountUp number={user.times_jumped} /></td>
                                </tr>
                                <tr>
                                    <td>Car Alarms Activated</td>
                                    <td class="tvalue"><CountUp number={user.caralarms_activated} /></td>
                                </tr>
                                <tr>
                                    <td>Shoves</td>
                                    <td class="tvalue"><CountUp number={user.times_shove} /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <div class="box">
                    <h4 class="title is-4 mb-2">Sections</h4>
                    <ul>
                        <li><a href="#player-stats"><BulmaIcon name="iconoir:link"></BulmaIcon> Player Stats</a></li>
                        <li><a href="#kills"><BulmaIcon name="iconoir:link"></BulmaIcon> Kills</a></li>
                        <li><a href="#survivor-stats"><BulmaIcon name="iconoir:link"></BulmaIcon> Survivor Statistics</a></li>
                        <li><a href="#skills"><BulmaIcon name="iconoir:link"></BulmaIcon> Skills</a></li>
                        <li><a href="#throwables"><BulmaIcon name="iconoir:link"></BulmaIcon> Throwables</a></li>
                        <li><a href="#averages"><BulmaIcon name="iconoir:link"></BulmaIcon>Averages</a></li>
                    </ul>
                </div>
                {topStats.top_char && <div class="box has-background-link has-text-white has-text-centered">
                    <h4 class="title is-4 has-text-white">Most Played Survivor</h4>
                    { /* @ts-expect-error ts(2322) */ }
                    <Image src={getPortrait(topStats.top_char.value) as any} alt={Survivor[topStats.top_char.value] + " portrait"} style="border: 4px solid black" />
                    { /* @ts-expect-error ts(2322) */ }
                    <p class="subtitle is-5 has-text-white mb-1">{Survivor[topStats.top_char.value]}</p>
                    <p class="subtitle is-6 has-text-white">{topStats.top_char.count.toLocaleString()} times</p>
                </div>}
                {topStats.top_map && <div class="box has-background-link has-text-white has-text-centered">
                    <h4 class="title is-4 has-text-white">Most Played Map</h4>
                    <Image src={getMapPoster(topStats.top_map.id!) as any} alt={`Map poster for ${topStats.top_map.id}`} style="border: 4px solid black" />
                    <p class="subtitle is-5 has-text-white mb-1">{ topStats!.top_map.value ?? topStats.top_map.id }</p>
                    <p class="subtitle is-6 has-text-white">{topStats.top_map.count.toLocaleString()} times</p>
                </div>}
                <div class="box has-background-link has-text-white has-text-centered">
                    <h4 class="title is-4 has-text-white">Maps Played</h4>
                    <Level>
                        <LevelItem class="has-text-white" title="Official" value={Number(topStats.played_official.count)} />
                        <LevelItem class="has-text-white" title="Custom" value={Number(topStats.played_custom.count)} />
                    </Level>
                    <!-- Check if played any maps at all. If not would be NaN -->
                    {topStats.played_any.count > 0 && <Level>
                        <LevelItem class="has-text-white" title="Official" value={mapPercents[0]} decimals={0} suffix="%" />
                        <LevelItem class="has-text-white" title="Custom" value={mapPercents[1]} decimals={0} suffix="%"/>
                    </Level>}
                </div>
                {topStats.top_weapon?.value && <div class="box has-background-link has-text-white has-text-centered">
                    <h4 class="title is-4 has-text-white">Most Used Weapon</h4>
                    <Image src={getWeaponImage(topStats.top_weapon.id!) as any} alt={`Weapon image for ${topStats.top_weapon.id}`} style="border: 4px solid black" />
                    <p>{ topStats!.top_weapon.value }</p>
                    <p class="subtitle is-6 has-text-white">{topStats.top_weapon.count.toLocaleString()} times</p>
                </div>}
                {topStats.longest_shot_distance?.value && <div class="box has-background-link has-text-white has-text-centered">
                    <h4 class="title is-4 has-text-white">Longest Shot Distance</h4>
                    <p  class="subtitle is-5 my-3 has-text-white">
                        {(parseFloat(topStats!.longest_shot_distance.value) * UNITS_TO_METERS).toFixed(1) } meters away
                    </p>
                </div>}
            </div>
        </div>

    </div>
</Layout>

<style>
.hero {
}
.tvalue {
    color: blue;
}
</style>