---
import Bulma from "bulma/css/bulma.min.css?url";
import { Tooltips } from 'astro-tooltips'
import { SEO } from "astro-seo";

export interface Props {
    pageTitle?: string;
    pageDescription?: string;

    siteTitle: string;

    noIndex?: boolean,
    noFollow?: boolean
}
const { pageTitle, pageDescription, siteTitle, noIndex, noFollow } = Astro.props;

const title = pageTitle ? `${pageTitle} | ${siteTitle}` : siteTitle;
const description = pageDescription;
---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href={Bulma}  />
    <link rel="stylesheet" href="/css/main.css" />
    <SEO
        title={title}
        description={description}
        noindex={noIndex}
        nofollow={noFollow}
    />
    <Tooltips interactive={false} placement="top" delay={[0, 0]} animation={false} />
</head>
