---
import CountUp from '@/components/CountUp.astro'

interface Props {
    values: Record<string, number>
}
const { values } = Astro.props
---

<div>
    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Boomers Killed</p>
            <p class="title"><CountUp number={values.kills_boomer} /></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Jockeys Killed</p>
            <p class="title"><CountUp number={values.kills_jockey} /></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Smokers Killed</p>
            <p class="title"><CountUp number={values.kills_smoker} /></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Spitters Killed</p>
            <p class="title"><CountUp number={values.kills_spitter} /></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Hunters Killed</p>
            <p class="title"><CountUp number={values.kills_hunter} /></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Chargers Killed</p>
            <p class="title"><CountUp number={values.kills_charger} /></p>
            </div>
        </div>
    </nav>
    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Pills Used</p>
            <p class="title"><CountUp number={values.used_pills} /></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Adrenalines Used</p>
            <p class="title"><CountUp number={values.used_adrenaline} /></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Kits Used (Self)</p>
            <p class="title"><CountUp number={values.used_kit_self} /></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Kits Used (Shared)</p>
            <p class="title"><CountUp number={values.used_kit_other} /></p>
            </div>
        </div>
    </nav>
    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Incaps</p>
            <p class="title"><CountUp number={values.times_incapped} /></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Deaths</p>
            <p class="title"><CountUp number={values.deaths} /></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Revives (Others)</p>
            <p class="title"><CountUp number={values.times_revived_other} /></p>
            </div>
        </div>
    </nav>
</div>