---
const DEFAULT_ICON_SET = "iconior"

import { Icon } from 'astro-icon/components'
interface Props {
    name: string,
    iconProps?: Record<string, any>,
    textLeft?: string,
    textRight?: string
    rotate?: number
    size?: number,
    
    [key: string]: any,
}
const { name, iconProps, rotate = 0, textLeft, textRight, size, ...any } = Astro.props

const autoName = name.includes(":") ? name : `${DEFAULT_ICON_SET}:${name}`

const style = {
    rotate: `${rotate}deg`,
    "font-size": size && `${size}px`
}
---
<span class="icon-text" {...any}>
    {textLeft && <span>{textLeft}</span>}
    <span class="icon">
        <Icon name={autoName} {...iconProps} style={style}/>
    </span>
    {textRight && <span>{textRight}</span>}
</span>