---
// import { Icon } from 'astro-icon/components'
import BulmaIcon from './BulmaIcon.astro'
interface Props {
    totalItems: number
    itemsPerPage: number,

    currentPage?: number
}
const { totalItems, itemsPerPage, currentPage = 0 } = Astro.props

const numPages = Math.ceil(totalItems / itemsPerPage)

function getUrl(page: number) {
    return Astro.routePattern.replace(/\[page\]/, page.toString())
}
---
<nav class="pagination" role="navigation" aria-label="pagination">
    {currentPage > 1 && <a href={getUrl(currentPage - 1)} class="pagination-previous">
        <BulmaIcon name="iconoir:nav-arrow-left" textRight="Previous" size={32} />
    </a>}
    {currentPage < numPages && <a href={getUrl(currentPage + 1)} class="pagination-next">
        <BulmaIcon name="iconoir:nav-arrow-right" textLeft="Next" size={32} />
    </a>}
    <ul class="pagination-list">
        {currentPage > 2 &&
            <li>
                <a href={getUrl(1)} class="pagination-link" aria-label="Goto page 1">1</a>
            </li>
            <li>
                <span class="pagination-ellipsis">&hellip;</span>
            </li>
        }
        {currentPage > 1 &&
            <li>
                <a href={getUrl(currentPage - 1)} class="pagination-link" aria-label={`Goto page ${currentPage - 1}`}>
                    {currentPage - 1}
                </a>
            </li>
        }
        <li>
            <a class="pagination-link is-current" :aria-label={`Page ${currentPage}`} aria-current="page">
                {currentPage}
            </a>
        </li>
        {currentPage < numPages && 
            <li>
                <a href={getUrl(currentPage + 1)} class="pagination-link" aria-label={`Goto page ${currentPage + 1}`}>
                    {currentPage + 1}
                </a>
            </li>
        }
        {currentPage < (numPages - 3) && 
            <li>
                <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li>
                <a href={getUrl(numPages)} class="pagination-link" aria-label={`Goto page ${numPages}`}>{numPages}</a>
            </li>
        }
    </ul>
</nav>