---
import Layout, { type PageInfo } from "@/layouts/Layout.astro";
let { id: gameId, sessionId } = Astro.params;
if(!gameId || !sessionId) return new Response(null, { status: 404 })

import { getSession, getSessionPlayers } from '../../../models/Game.ts'
import { Difficulty } from "@/types/game.ts";
import { getGamemode, replaceRoute, trimText } from "@/utils/index.ts";
import Level from "@/components/bulma/Level.astro";
import LevelItem from "@/components/bulma/LevelItem.astro";


const session = await getSession(sessionId)
if(!session) return Astro.rewrite(`/404?obj=session&id=${Astro.params.sessionId}`)
const otherSessions = await getSessionPlayers(gameId)

const mapName = session.map_name ?? session.map_id

const meta: PageInfo = {
	title: `${session.name}'s Session #${session.id} - ${mapName}`,
	description: `View statistics for ${session.name}'s game on ${mapName}`,
    hero: {
        title: mapName,
    },
}

export const prerender = false
---
<Layout meta={meta}>
    <section slot="hero" class="hero has-text-centered is-medium is-dark hero-map-bg" style={{'background-image': `linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("/img/maps/screenshots/${session.map_id}.jpeg"), url("/img/maps/default.png")`}}>
        <div class="hero-body">
            <!-- <Picture src={getMapPoster(session.map)} alt="map" /> -->
            <p class="title">{session.name}'s Session #{session.id}</p>
            <p class="subtitle pt-2">Played on <b>{mapName}</b></p>
        </div>
        <div class="hero-foot">
            <p class="subtitle mb-3">
                {getGamemode(session.gamemode)} • {Difficulty[session.difficulty]} • {Math.round(session.duration_game/60)} minutes long
            </p>
        </div>
    </section>
    <br>
    <div class="container">
        <div class="columns">
            <div class="column">
                <Level>
                    <LevelItem countup title="Zombie Kills" value={session.kills_common} />
                    <LevelItem countup title="Melee Kills" value={session.kills_melee} />
                    <LevelItem countup title="Tank Kills" value={session.kills_tank} />
                    <LevelItem countup title="Witch Kills" value={session.kills_witch} />
                    {session.honks > 0 && <LevelItem countup title="Clowns Honked" value={session.honks} />}
                </Level>
                <Level>
                    <LevelItem countup title="Damage Dealt" value={session.damage_dealt} suffix=" HP" />
                    <LevelItem countup title="Damage Taken" value={session.damage_taken} suffix=" HP" />
                    <LevelItem countup title="Friendly Fires" value={session.damage_dealt_friendly_count} />
                    <LevelItem countup title="Times Friendly Fired" value={session.damage_taken_friendly_count} />
                    <LevelItem countup title="Friendly Damage Dealt" value={session.damage_dealt_friendly} suffix=" HP" />
                    <LevelItem countup title="Friendly Damage Taken" value={session.damage_taken_friendly} suffix=" HP" />
                </Level>
                <div class="columns">
                    <div class="column is-6">
                        <div class="box has-background-link">
                              <Level>
                                <LevelItem class="has-text-white" title="Biles Thrown" value={session.used_bile} />
                                <LevelItem class="has-text-white" title="Pipes Thrown" value={session.used_pipebomb} />
                                <LevelItem class="has-text-white" title="Molotovs Thrown" value={session.used_molotov} />
                            </Level>
                        </div>
                        <div class="box has-background-success">
                            <Level>
                                <LevelItem class="has-text-white" title="Smoker Kills" value={session.kills_smoker} />
                                <LevelItem class="has-text-white" title="Boomer Kills" value={session.kills_boomer} />
                                <LevelItem class="has-text-white" title="Spitter Kills" value={session.kills_spitter} />
                            </Level>
                            <Level>
                                <LevelItem class="has-text-white" title="Jockey Kills" value={session.kills_jockey} />
                                <LevelItem class="has-text-white" title="Hunter Kills" value={session.kills_hunter} />
                                <LevelItem class="has-text-white" title="Charger Kills" value={session.kills_charger} />
                            </Level>
                        </div>
                        <p>Campaign ID <a href={`/games/${session.game_uuid}`}>{session.game_uuid}</a></p>
                        <p>Game ID <a href={`/games/${session.game_id}`}>{session.game_id}</a></p>
                    </div>
                    <div class="column">
                        <div class="box has-background-warning">
                            <Level>
                                <LevelItem title="Kits (Self)" value={session.used_kit_self} />
                                <LevelItem title="Kits (Shared)" value={session.used_kit_other} />
                            </Level>
                            <Level>
                                <LevelItem title="Pills Consumed" value={session.used_pills} />
                                <LevelItem title="Adrenaline Consumed" value={session.used_adrenaline} />
                            </Level>
                        </div>
                        <div class="box has-background-danger">
                            <Level>
                                <LevelItem title="Incaps" value={session.times_incapped} />
                                <LevelItem title="Deaths" value={session.deaths} />
                            </Level>
                        </div>
                    </div>
                </div>
                <!-- TODO: add longest_shot_distance, times_boomed, times_boomed_teammate, caralarms_activated, hunters_deadstopped, witches_crowned, rocks_hitby, rocks_dodged, smokers_slefcleared, times_pinned, etc... -->
                <!-- TODO: maybe add: kills_minigun, kills_fire, kills_pipebomb -->
                 <!-- TODO: add: seconds_alive, seconds_idle, seconds_dead -->
            </div>
            <div class="column is-3">
                <div class="box">
                    <h4 class="title is-4 mb-2">Players</h4>
                    <ul>
                        {otherSessions.map(player => (
                            <li>
                                <b>
                                    <a href={`/users/${player.steamid}/overview`}>
                                        {trimText(player.name, 23)}
                                    </a>
                                </b>
                                {player.sessionId != session.id && 
                                    <a href={replaceRoute(Astro, { sessionid: player.sessionId })} 
                                        class="is-pulled-right">(view stats)</a>
                                }
                                {player.sessionId === session.id && 
                                    <span class="is-pulled-right">(current)</span>
                                }
                            </li>
                        ))}
                    </ul>
                </div>
                <div class="box content">
                    <strong>Map Id</strong>
                    <p><a href={'/maps/' + session.map_id}>{session.map_id}</a></p>
                    <div class="columns">
                        <div class="column">
                            <strong>Gamemode</strong>
                            <p>{session.gamemode}</p>
                        </div>
                        <div class="column">
                            <strong>Difficulty</strong>
                            <p>{Difficulty[session.difficulty]}</p>
                        </div>
                    </div>
                    <strong>Most Used Weapon</strong>
                    <p>{session.top_weapon || "-"}</p>
                    <span class="tags">
                        {session.server_tags.map(tag => <span class="tag">{tag}</span>)}
                    </span>
                </div>
            </div>
        </div>
    </div>
</Layout>

<style>
img {
    width: 140px;
    height: 189px;
    display: inline;
    position: relative;
    left: 20px;
    top: 40px;
}
</style>