---
// Elements import
import Table, { type TableColumn } from "@/components/bulma/Table.astro";
import Layout, { type PageInfo } from "@/layouts/Layout.astro";
import UserSearch from "@/components/UserSearch.astro";
import Pagination from "@/components/bulma/Pagination.astro";

let { page = 0 } = Astro.params
page = parseInt(page as string)
if(isNaN(page)) return new Response(null, { status: 404 })

// Setup meta data
const meta: PageInfo = {
	title: "Player Leaderboards",
	description: "Leaderboard of the best players in-game",
	hero: { subtitle: "" },
	// No need to index all the other pages
	noIndex: page > 1,
	noFollow: page > 1,
}

// Setup table 
import { formatRelUnixDate, unixDateToDuration } from '../../utils/date.ts'
const COLUMNS: TableColumn[] = [
	{ name: "Player Name", key: "last_alias", formatFunction: (row) => (
		`<b><a href="/users
		/${row['steamid']}">${row['last_alias']}</a></b>`
	)},
	{ name: "Points", key: "points", format: { number: { formatToLocale: true } }, class: "has-text-link" },
	{ name: "Last Played", formatFunction: (row) => formatRelUnixDate(row["last_join_date"]) },
	{ name: "Total Playtime", 
		formatFunction: (row) => unixDateToDuration(
			row["minutes_played"], 
			{ format: ["days", "hours", "minutes"], delimiter: ", "}
		)}
]

// Load data
const ITEMS_PER_PAGE = 12
import * as User from '../../models/User.ts'
import BulmaIcon from "@/components/bulma/BulmaIcon.astro";
import LeaderboardCarousel from "@/components/misc/LeaderboardCarousel.astro";
import Button from "@/components/bulma/Button.astro";
import { replaceRoute } from "@/utils/index.ts";
const totalPlayers = await User.getTotalPlayers()
const leaderboard = await User.getLeaderboards(page, ITEMS_PER_PAGE)
const playerOfDay = await User.getPlayerOfDay()

meta.hero!.subtitle = `Showing the <b>top ${ITEMS_PER_PAGE}</b> players out of <b>${totalPlayers.toLocaleString()} players</b>`

const canGoBack = page > 1
const canGoNext = page < Math.ceil(totalPlayers / ITEMS_PER_PAGE)

if(import.meta.env.PROD) Astro.response.headers.set('Cache-Control', 'public, max-age=600, s-maxage=60, stale-while-revalidate=3600, stale-if-error=86400');
---

<Layout meta={meta}>
	<div class="container content">
		<div class="columns">
			<div class="column is-8 box is-size-5">
				<div class="table-container">
					<Table columns={COLUMNS} data={leaderboard} striped fullwidth />
				</div>
				<Pagination currentPage={page} itemsPerPage={ITEMS_PER_PAGE} totalItems={totalPlayers}  />
			</div>
			<div class="column is-4">
				<div class="block">
					<div class="level">
						<div class="level-item">
							<Button rounded 
								href={canGoBack ? replaceRoute(Astro, {page: page - 1}) : undefined} disabled={!canGoBack}
							>
								<BulmaIcon name="iconoir:nav-arrow-left" textRight="Previous" size={32} />
							</Button>
						</div>
						<div class="level-item">
							Page { page }
						</div>
						<div class="level-item">
							<Button rounded class="is-pulled-right" 
								href={canGoNext ? replaceRoute(Astro, {page: page + 1}) : undefined} disabled={!canGoNext}
							>
								<BulmaIcon name="iconoir:nav-arrow-right" textLeft="Next" size={32} />
							</Button>
						</div>
					</div>
				</div>
				<div class="box has-text-centered">
					<h5 class="title is-5">Find Player</h5>
					<UserSearch />
				</div>
				<div class="box">
					<LeaderboardCarousel server:defer>
						<em slot="fallback">
							<noscript>Javascript is required to see the stat carousel</noscript>
							<h6 class="subtitle is-6 mt-3">Loading Stats...</h6>
						</em>
					</LeaderboardCarousel>
				</div>
				<a href={`/users/${playerOfDay.steamid}`} class="box has-text-centered">
					<h5 class="title is-5">Player of the Day</h5>
					<h2 class="titlel4d2-text">
						<span>{playerOfDay.name}</span>
					</h2>
					<p class="subtitle mt-4 mb-4">{playerOfDay.points.toLocaleString()} points</p>
				</a>
			</div>
		</div>
	</div>
</Layout>